$c-blue: #4ecdc4;
$c-black: #000000;
$c-silver: #011627;
$c-white: #ddd;

$text-stroke: '-webkit-text-stroke: 1px rgba(255, 255, 255, 0.2)';
$main-bg: #171819;
// $main-c: #ff3366;
$main-c: #4ecdc4;

$main-text-c: #333333;

$width-lg: 1024px;
$width-md: 768px;
$width-sm: 476px;

